{% extends "dashboard/base.html" %}
{% block title %}➕ Nouvelle Proforma{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mb-4">Créer une proforma : Devis {{ devis.nom_produit }} par {{devis.unite}}</h2>

    <div class="card shadow-sm">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-success">Envoyer la proforma</button>
          <a href="{% url 'proforma_devis' devis.id %}" class="btn btn-secondary">Retour</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
