{% extends "dashboard/base.html" %}
{% block title %} Devis{% endblock %}

{% block content %}
<h2 class="mb-4">📄 Devis</h2>

{% if devis_list %}
<table class="table table-bordered bg-white shadow-sm">
  <thead class="table-light">
    <tr>
      <th>#</th>
      <th>Client</th>
      <th>Produit demandé</th>
      <th>Date de soumission</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for devis in devis_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ devis.client.nom_entreprise}}</td>
      <td>{{ devis.designation_produit }}</td>
      <td>{{ devis.date_creation|date:"d/m/Y" }}</td>
      <td><span class="badge bg-primary">{{ devis.get_statut_display }}</span></td>
      <td>
        <a href="{% url 'traiter_devis' devis.id %}" class="btn btn-sm btn-success">✏️ Traiter</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">Aucun devis en attente</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="alert alert-info mt-4">Aucun devis à afficher.</div>
{% endif %}
<div class="d-flex gap-2">
  <a href="{% url 'commercial_dashboard' %}" class="btn btn-secondary">↩️ Retour</a>
</div>

{% endblock %}
